<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Roboto:ital,wght@0,500;0,700;1,500;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header">
    <div class="container">
      <a class="logo my16" href="#">logo</a>
      <ul class="navi">
        <li><a href="#"><h6>系列鏡框</h6></a></li>
        <li><a href="#"><h6>門市據點</h6></a></li>
        <li><a href="#"><h6>部落格</h6></a></li>
        <li><a href="#"><h6>常見問題</h6></a></li>
      </ul>
    </div>
  </header>

  <%- contents %>

  <footer class="footer">
    <div class="container-footer pt48">
      <div class="footer-nav mb24">
        <ul class="footer-nav-list">
          <li><a href="#">首頁</a></li>
          <li><a href="#">系列鏡框</a></li>
          <li><a href="#">門市據點</a></li>
          <li><a href="#">部落格</a></li>
          <li><a href="#">常見問題</a></li>
        </ul>
        <ul class="footer-nav-sns">
          <li><a href="#"><img src="./assets/images/ic-social-fb.png" alt="Facebook"></a></li>
          <li><a href="#"><img src="./assets/images/ic_social_ig.png" alt="Instagram"></a></li>
          <li><a href="#"><img src="./assets/images/ic_social_line.png" alt="LINE"></a></li>
        </ul>
      </div>
      <div class="contact mb32">
        <h4><span class="material-symbols-outlined icon-style2 mr22">call</span>0800-000-00</h4>
        <h4><span class="material-symbols-outlined icon-style2 mr22">mail</span>glasses@business.co</h4>
        </div>
      <div class="footer-legal px32">
        <p>Copyright © 2020 Glasses.All rights reserved.</p>
        <ul class="footer-legal-list">
          <li><a href="#">隱私權政策</a></li>
          <li><a href="#">服務條款</a></li>
        </ul>
      </div>
    </div>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
