/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
list, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, list, nav, section {
  display: block; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Roboto","Noto Sans TC", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400; }

header, footer {
  background-color: #AA0601;
  color: #fff; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

h1 {
  font-size: 64px;
  line-height: 96px;
  font-weight: 700; }

h2 {
  font-size: 48px;
  line-height: 72px;
  font-weight: 700;
  text-align: center;
  color: #650300; }

h3 {
  font-size: 48px;
  line-height: 72px;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  color: #AA0601; }

h4 {
  font-size: 36px;
  line-height: 54px;
  font-weight: 400; }

h5 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  color: #650300; }

h6 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400; }

.pt12 {
  padding-top: 12px; }

.pt48 {
  padding-top: 48px; }

.p16 {
  padding: 16px; }

.px32 {
  padding: 32px 0; }

.pb12 {
  padding-bottom: 12px; }

.pb100 {
  padding-bottom: 100px; }

.mr4 {
  margin-right: 4px; }

.mr22 {
  margin-right: 22px; }

.mb4 {
  margin-bottom: 4px; }

.mb8 {
  margin-bottom: 8px; }

.mb16 {
  margin-bottom: 16px; }

.mb24 {
  margin-bottom: 24px; }

.mb32 {
  margin-bottom: 32px; }

.mb36 {
  margin-bottom: 36px; }

.mb48 {
  margin-bottom: 48px; }

.my16 {
  margin: 16px 0; }

.container {
  max-width: 1320px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.logo a {
  display: block;
  width: 80px;
  height: 50px;
  background-image: url(../images/logo-new_@2x.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden; }

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.nav-list a {
  display: block;
  color: #fff;
  padding: 10px 0 10px 0;
  margin-left: 64px; }

.nav-list a:hover {
  color: #650300; }

@media (max-width: 992px) {
  .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .nav-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .nav-list li {
    width: 50%;
    border: 1px solid #fff; }
  .nav-list a {
    width: 100%;
    margin: 0;
    text-align: center; } }

.banner {
  background-image: url(../images/home-header.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: calc(100vh - 560px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.container-banner {
  max-width: 1320px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #650300; }

.buy {
  display: block;
  color: #fff;
  padding: 6px 12px;
  background-color: #AA0601; }

.buy:hover {
  background-color: #650300; }

.feature {
  background-color: #FBF2F2; }

.container-feature {
  max-width: 1320px;
  margin: 0 auto;
  padding: 80px 0; }

.feature-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 24px; }

.feature-list-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 306px; }

.icon-style {
  color: #650300;
  font-size: 84px;
  font-variation-settings: "wght" 700, "opsz" 48; }

.container-series {
  max-width: 1320px;
  margin: 0 auto;
  padding: 80px 0; }

.classic-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 24px; }

.classic-list img {
  width: 416px; }

.series-cobranding {
  background-image: url(../images/home-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.container-cobranding {
  max-width: 1320px;
  margin: 0 auto;
  padding: 80px 0; }

.text-white {
  color: #fff; }

.cobranding-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff; }

.cobranding-list img {
  width: 648px; }

.border-right {
  border-right: 1px solid #bebebe; }

.container-review {
  max-width: 1320px;
  margin: 0 auto;
  padding: 80px 0; }

.review-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 24px; }

.review-list-card img {
  width: 306px; }

.review-content {
  height: 205px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.date {
  color: #707070;
  font-size: 14px;
  line-height: 21px; }

.message {
  background-color: #FBF2F2; }

.container-message {
  width: 636px;
  margin: 0 auto;
  padding: 80px 0; }

input {
  display: block;
  width: 100%;
  background-color: #FBF2F2;
  border: 1px solid #000;
  padding: 6px 12px; }

input::-webkit-input-placeholder {
  color: #000;
  opacity: 0.2; }

input::-moz-placeholder {
  color: #000;
  opacity: 0.2; }

input:-ms-input-placeholder {
  color: #000;
  opacity: 0.2; }

input::-ms-input-placeholder {
  color: #000;
  opacity: 0.2; }

input::placeholder {
  color: #000;
  opacity: 0.2; }

.check span {
  vertical-align: middle; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.btn a {
  display: block;
  background-color: #AA0601;
  color: #fff;
  padding: 16px 176px; }

.btn a:hover {
  background-color: #650300; }

.container-footer {
  max-width: 1320px;
  margin: 0 auto;
  padding-top: 48px; }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.footer-nav-list a {
  display: block;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding: 12px 0;
  margin-right: 48px; }

.footer-nav-list a:hover {
  background-color: #650300;
  border-radius: 25%; }

.footer-nav-sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.footer-nav-sns img {
  height: 48px;
  display: block;
  margin-left: 32px; }

.footer-nav-sns a {
  display: block; }

.icon-style2 {
  font-size: 36px;
  font-variation-settings: "wght" 700, "opsz" 36;
  vertical-align: middle; }

.footer-legal {
  border-top: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.footer-legal-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer-legal-list a {
  display: block;
  color: #fff;
  margin-left: 48px; }

@media (max-width: 992px) {
  .container-footer {
    padding: 24px 16px; }
  .footer-nav-list {
    display: none; }
  .call, .mail {
    font-size: 16px;
    height: 24px; }
  .mr22-sm {
    margin-right: 10px; }
  .icon-style2 {
    font-size: 20px;
    font-variation-settings: "wght" 400, "opsz" 20;
    vertical-align: middle; }
  .footer-nav-sns img {
    height: 24px;
    margin-left: 8px; }
  .px32-sm {
    padding: 16px 0 0 0; }
  .footer-legal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .footer-legal p {
    margin-bottom: 8px; }
  .footer-legal-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 8px 0; }
  .footer-legal-list a {
    margin-left: 0; } }

/*# sourceMappingURL=all.css.map */
